* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  padding: 0 5rem 3rem 5rem;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 6.5rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
  color: yellowgreen;
  font-family: "Creepster", cursive;
  letter-spacing: 0.3rem;
  position: fixed;
  background: rgb(255, 255, 255);
  width: 100%;
  text-shadow: 20px 20px 15px rgba(105, 104, 104, 0.75);
}

.cards {
  padding-top: 16rem;
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 6rem;
}

.card {
  border: solid 1px black;
  border-radius: 5%;
  text-align: center;
  background: black;
  color: white;
  padding: 1rem;
  box-shadow: 22px 22px 20px 0px rgba(50, 50, 50, 0.75);
  cursor: pointer;
}

img {
  border-radius: 5%;
}

h2 {
  font-family: "Creepster", cursive;
  letter-spacing: 0.3rem;
  font-size: 3rem;
  padding: 1rem;
  color: yellowgreen;
}

h3 {
  padding: 0.5rem;
  font-size: 1.2rem;
}
