* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  padding: 3rem 8rem;
  scroll-behavior: smooth;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 6.5rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  color: yellowgreen;
  font-family: "Creepster", cursive;
  letter-spacing: 0.3rem;
  background: rgb(255, 255, 255);
  width: 100%;
  text-shadow: 20px 20px 15px rgba(105, 104, 104, 0.75);
  transition: all 0.5s ease-in-out;
}

.title h1:hover {
  font-size: 7rem;
}

.search {
  height: 100px;
}

input[type="text"] {
  display: block;
  padding: 0.5rem;
  font-size: 1.6rem;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  outline: none;
  background-color: yellowgreen;
  color: white;
  box-shadow: 20px 20px 15px rgba(105, 104, 104, 0.75);
}

.cards {
  padding-top: 3rem;
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 6rem;
}

.card {
  max-width: 500px;
  border-radius: 2%;
  text-align: center;
  background: rgb(19, 19, 19);
  color: white;
  padding: 1.2rem;
  box-shadow: 22px 22px 20px 0px rgba(50, 50, 50, 0.75);
}

img {
  border-radius: 2%;
  cursor: pointer;
}

h2 {
  font-family: "Creepster", cursive;
  letter-spacing: 0.3rem;
  font-size: 3rem;
  padding: 1rem;
  color: yellowgreen;
  transition: all 0.5s ease-in-out;
}

h2:hover {
  color: white;
}

h3 {
  padding: 0.6rem;
  font-size: 1.2rem;
}

.pagesButtons {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pagesButtons button {
  background: black;
  color: white;
  font-family: "Creepster", cursive;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.pagesButtons button:hover {
  color: yellowgreen;
}

/* modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  transition: all 0.5s ease-in-out;
}
.backdrop img {
  display: block;
  max-width: 100%;
  height: 50%;
  margin: 15% auto;
  box-shadow: 25px 25px 15px 2px rgba(0, 0, 0, 0.7);
  border: 2px solid black;
}

@media (max-width: 800px) {
  body {
    padding: 0.5rem;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    box-shadow: none;
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
